body {
  background-image: url('../images/bigsur1.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: crimson;
}

div#main {
  float: right;
  text-align: center;
}

div#nav {
  text-align: center;
}

div#project-box {
  display: none;
  text-align: left;
  margin-left: 180px;
  max-width: 141px;
  padding-left: 15px;
  padding-top: 5px;
  background-color: rgba(255,255,255,0.7);
  opacity: 0;
}

div#bio-box {
  display: none;
  text-align: left;
  margin-left: 180px;
  max-width: 280px;
  padding: 15px;
  background-color: rgba(255,255,255,0.7);
  opacity: 0;
}

div#contact-box {
  display: none;
  text-align: left;
  margin-left: 180px;
  max-width: 205px;
  padding: 15px;
  background-color: rgba(255,255,255,0.7);
  opacity: 0;
}

div#wrapper {
  opacity: 1;
}

img#portrait {
  max-width: 100px;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}

h2 {
  visibility: hidden;
  padding-top: 30px;
  padding-right: 120px;
  margin-left: 100px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

ul {
  list-style-type: none;
}

ul#contact-links {
  margin-bottom: 0px;
}

li {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

li.contact {
  margin-bottom: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

li.link {
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
}

li.link:hover {
  cursor: pointer;
  color: crimson;
}

li.project {
  font-family: 'Lato', sans-serif;
  padding-bottom: 5px;
}

a {
}

a:link {
  color: firebrick;
  text-decoration: none;
}

a:visited {
  color: firebrick;
}

a:hover {
  color: red;
}

a:active {
  color: red;
}

p.bio {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: black;
  margin-bottom: 0px;
}


