.projectsContainer {
    background-color: rgba(0,0,0, 0.8);
    border-radius: 7px;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 60px;
    width: 70vw;
    max-width: 650px;
    height: 65vh;
    overflow-y: scroll;
}

.projectsContainer p {
    color: #C0C0C0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    margin: 0;
    color: white;
    font-size: 16px;
}

.thumbnail {
    /* height: 110px; */
    width: 120px;
    float: left;
    border-radius: 7px;
    margin-right: 20px;
    margin-top: 3px;
}

.cardBody {
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 100px;
    /* height: 100% */
}

@media only screen and (max-width: 500px) {
    .projectsContainer {
        width: 80vw;
        text-align: center;
    }

    .thumbnail {
        float: none;
        margin: 0;
        margin-bottom: 10px;
    }

    p {
        text-align: left;
    }
}